[main]

dont_bundle =
	ckanext-redlink/bower_components/requirejs/require.js
	ckanext-redlink/bower_components/squebi/main.js
    ckanext-redlink/bower_components/squebi/squebi/template/basic.html
    ckanext-redlink/bower_components/squebi/squebi/template/browse.html
    ckanext-redlink/bower_components/squebi/squebi/template/data.html
    ckanext-redlink/bower_components/squebi/squebi/template/pie.html

[depends]

main = base/main

[groups]

main =
    ckanext-redlink/bower_components/requirejs/require.js
    ckanext-redlink/bower_components/squebi/main.js

